- if build? && data.global.ga_code
  script async=true src="https://www.googletagmanager.com/gtag/js?id=#{data.global.ga_code}"
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', "#{data.global.ga_code}");
