/ meta name='description' content="#{page_description}"
/ meta property='og:url' content="#{current_page_url}"
/ meta property='og:title' content="#{page_title}"
/ meta name='twitter:title' content="#{page_title}"
/ - if data.page.thumb
/   meta property='og:image' content="#{site_url}/#{data.page.thumb}"
/   meta name='twitter:image:src' content="#{site_url}/#{data.page.thumb}"
/ - else
/   meta property='og:image' content="#{site_url}#{image_path('og-image.png')}"
/   meta name='twitter:image:src' content="#{site_url}#{image_path('og-image.png')}"
/ meta property='og:description' content="#{page_description}"
/ meta name='twitter:site' content="#{site_twitter}"
/ meta name='twitter:creator' content="#{site_name}"
/ meta property='article:author ' content="#{site_name}"
/ meta property='og:site_name' content="#{site_name}"
/ meta name='twitter:card' content='summary_large_image'


/ Icon
link rel='shortcut icon' href=image_path('webapp-icons/favicon.ico?v=6')
link rel="apple-touch-icon" sizes="180x180" href=image_path('webapp-icons/apple-touch-icon.png?v=6')
link rel="icon" type="image/png" sizes="32x32" href=image_path('webapp-icons/favicon-32x32.png?v=6')
link rel="icon" type="image/png" sizes="16x16" href=image_path('webapp-icons/favicon-16x16.png?v=6')
link rel="manifest" href=image_path('webapp-icons/site.webmanifest?v=6')
link rel="mask-icon" href=image_path('webapp-icons/safari-pinned-tab.svg?v=6') color="#5063F0"

/ Color
meta name="msapplication-TileColor" content="#5063F0"
meta name="theme-color" content="#5063F0"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-status-bar-style" content="black"
meta name="apple-mobile-web-app-title" content="Checklist de Vôo"
meta name="format-detection" content="telephone=no"
